*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 100%;
    padding: 20px;
    background-color: #8a2be2;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.buscador{
    display: flex;
    flex-direction: row-reverse;
    border-bottom:1px solid #000 ;
    width: 100%;
    padding: 20px;
}
.buscador > form > input{
    padding: 5px 7px;
}

.container{
    /*display: grid;
    grid-template-columns: 20% 80%;*/
    display: flex;
}

.aside{
    /* grid-column-start: 1; */
    width: 20%;
    height: 100dvh;
    background-color: #8a2be2;
    padding: 10px;
    text-align: center;
}

.container > aside > ul > li > a{
    text-decoration: none;
    font-size: x-large;
    color: #fff;
}
.container > aside > ul > li > a:hover{
    border-bottom: 1px solid #fff;
}

.vehiculos{
    /* grid-column-start: 2; */
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    max-height: 270px;
    padding: 10px;
    border-radius: 5%;
    background-color: #e0e0e0;
    margin: 10px;
}

.card > img{
    width: 200px;
    margin: 10px auto;
}
.btn-container{
    margin: 10px 0;
}

.btn{
    text-decoration: none;
    border-style: none;
    color: #fff;
    padding: 7px 5px;
    background-color: #8a2be2;
    border-radius: 5%;
}
.btn-header{
    background-color: #fff;
    color: #8a2be2;
}
.btn:hover{
    background-color: #3d0e69;
}
.btn-header:hover{
    background-color: #cac8c8;
    color: #3d0e69;
}

.btn-container > a{
    background-color: #fff;
    color: #8a2be2;
}
.btn-container > a:hover{
    background-color: #cac8c8;
}

.form-container{
    width: 50%;
    margin: 10px auto;
    background-color: #e0e0e0;
    padding: 50px;
    border-radius: 5px;
}

.form-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-title > button {
    height: 30px;
    width: 30px;
}
.form-title > h2{
    margin: 10px 0;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.form-container >form{
    width: 100%;
}

.input-container > input, .select{
    width: 100%;
    margin: 10px 0;
    padding: 5px 7px;
}

.vehiculo-container{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 90%;
    margin: 10px auto;
}

.img-container{
    grid-column-start: 1;
    padding: 10px;
}

.img-container > img{
    width: 300px;
}
.info-container{
    grid-column-start: 2;
    padding: 10px;
    width: 100%;
}

.info-container > p{
    margin: 20px 0;
    font-size: 1.5rem;
}

.volver{
    background-color: #8a2be2;
}
.volver:hover{
    background-color: #3d0e69;
}

.error{
    display: absolute;
    top: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border-left: 1px solid #ff0000;
    color: #fff;
    background-color: #fb62748e;
}
.ok{
    display: absolute;
    top: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border-left: 1px solid #008000;
    color: #fff;
    background-color: #6cfb628e;
}
.modal{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a7;
}
.modal-active{
    display: block;
    position: fixed;
}
.sesion{
    width: 30%;
    margin-top: 150px;
    display: none;
}
.sesion-active{
    display: block;
}

.menu-container{
    width: 30%;
    display: none;
    position: absolute;
    right: 0;
    background-color: #8a2be2;
    padding:20px;
    height: 40%;
}
.menu-active{
    display: block;
}
.menu-container > ul {
    list-style: none;
}
.menu-container > ul > li{
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: center;
}
.menu-container > ul > li > a,.menu-container >ul > li> p {
    color: #fff;
    text-decoration: none;
}
.menu-container > ul > li > a:hover{
    border-bottom: 1px solid #fff;
}
